<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Types -->
      <package
            uri="http://www.dslconsultancy.com/uicript/types"
            class="com.dslconsultancy.uiscript.types.TypesPackage"
            genModel="meta-model/Types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Services -->
      <package
            uri="http://www.dslconsultancy.com/uicript/services"
            class="com.dslconsultancy.uiscript.services.ServicesPackage"
            genModel="meta-model/Services.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expressions -->
      <package
            uri="http://www.dslconsultancy.com/uicript/expressions"
            class="com.dslconsultancy.uiscript.expressions.ExpressionsPackage"
            genModel="meta-model/Expressions.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Statements -->
      <package
            uri="http://www.dslconsultancy.com/uicript/statements"
            class="com.dslconsultancy.uiscript.statements.StatementsPackage"
            genModel="meta-model/Statements.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExpressionsAux -->
      <package
            uri="http://www.dslconsultancy.com/uicript/expressionsAux"
            class="com.dslconsultancy.uiscript.expressions.aux.AuxPackage"
            genModel="meta-model/ExpressionsAux.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Elements -->
      <package
            uri="http://www.dslconsultancy.com/uicript/elements"
            class="com.dslconsultancy.uiscript.elements.ElementsPackage"
            genModel="meta-model/Elements.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Core -->
      <package
            uri="http://www.dslconsultancy.com/uicript/core"
            class="com.dslconsultancy.uiscript.core.CorePackage"
            genModel="meta-model/Core.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Structural -->
      <package
            uri="http://www.dslconsultancy.com/uicript/structural"
            class="com.dslconsultancy.uiscript.structural.StructuralPackage"
            genModel="meta-model/Structural.xcore"/>
   </extension>

</plugin>
