<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Types -->
      <package
            uri="http://www.dslconsultancy.com/uicript/types"
            class="com.dslconsultancy.uiscript.types.TypesPackage"
            genModel="meta-model/Types.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Services -->
      <package
            uri="http://www.dslconsultancy.com/uicript/services"
            class="com.dslconsultancy.uiscript.services.ServicesPackage"
            genModel="meta-model/Services.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UIDsl -->
      <package
            uri="http://www.dslconsultancy.com/uicript/uidsl"
            class="com.dslconsultancy.uiscript.uidsl.UidslPackage"
            genModel="meta-model/UIDsl.xcore"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expressions -->
      <package
            uri="http://www.dslconsultancy.com/uicript/expressions"
            class="com.dslconsultancy.uiscript.expressions.ExpressionsPackage"
            genModel="meta-model/Expressions.xcore"/>
   </extension>

</plugin>
